<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.AnnDAO">
	<select id="list" resultType="annDTO" parameterType="map">
		SELECT ann_no, ann_subject, ann_content, ann_bHit, ann_division, ann_fixed FROM announcement WHERE ann_division = 'E'
	</select>
	
</mapper>