<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.ApprovalDAO">

	<insert id="appLineName" useGeneratedKeys="true" keyColumn="app_line_no" keyProperty="app_line_no">
		INSERT INTO approval_line_save (emp_no, app_line_name) values (#{emp_no}, #{app_line_name})
	</insert>
	
	<insert id="appLineSave">
		INSERT INTO approval_line(app_line_no,emp_no,app_procedure)values(#{param1},#{param2},#{param3})
	</insert>
	
	<select id="lineCall" resultType="app">
		SELECT app_line_no, app_line_name FROM approval_line_save WHERE emp_no=#{param1}
	</select>
	
	<select id="saveListCall" resultType="emp">
		SELECT 
			e.emp_no,
			(SELECT code_name FROM common_code cc WHERE e.dept_code = cc.code_no) AS dept_name,
			 (SELECT code_name FROM common_code cc WHERE e.rank_code = cc.code_no) AS rank_name,
			 e.name as eName,
			 al.app_procedure 
		FROM approval_line al JOIN emp e ON al.emp_no = e.emp_no where al.app_line_no=#{param1}; 
	</select>
	
	<delete id="saveLineDel">
		DELETE FROM approval_line_save WHERE app_line_no=#{param1};
	</delete>
	
	<insert id="writeDraft" parameterType="map">
		INSERT INTO draft(draft_no,register, draft_subject, draft_end, draft_content, draft_status) values (#{draft_no}, #{register}, #{draft_subject}, #{draft_end}, #{draft_content}, #{draft_status})		
	</insert>
	
	
	<insert id="approverWrite">
		<if test="param3 == 1">
			INSERT INTO approver (draft_no, emp_no, app_procedure, app_status, app_date)values(#{param1},#{param2}, #{param3}, 'Y',now())
		</if>
		<if test="param3 != 1">
			INSERT INTO approver (draft_no, emp_no, app_procedure)values(#{param1},#{param2}, #{param3})		
		</if>
	</insert>
	
	<insert id="referrerWrite">
	<if test="param2.equals('11') or param2.equals('22') or param2.equals('33')">
		INSERT INTO view_referrer (draft_no, view_reffer_division, dept_code) values (#{param1}, 'R', #{param2})
	</if>
	<if test="!param2.equals('11') and !param2.equals('22') and !param2.equals('33')">
		INSERT INTO view_referrer (draft_no, view_reffer_division, emp_no) values (#{param1}, 'R', #{param2})
	</if>
	</insert>
	
	<insert id="viewerWrite">
		<if test="param2.equals('11') or param2.equals('22') or param2.equals('33')">
			INSERT INTO view_referrer (draft_no, view_reffer_division, dept_code) values (#{param1}, 'V', #{param2})		
		</if>
		<if test="!param2.equals('11') and !param2.equals('22') and !param2.equals('33')">
			INSERT INTO view_referrer (draft_no, view_reffer_division, emp_no) values (#{param1}, 'V', #{param2})		
		</if>
	</insert>
	
	<insert id="fileSave">
		INSERT INTO file (ori_file_name, file_name, ref_idx, file_division) values (#{param1}, #{param2}, #{param3}, 'D')
	</insert>
	
	<insert id="leaveMng" parameterType="map">
		INSERT INTO leave_management(draft_no, emp_no, leave_cate, leave_use, leave_start, leave_end, draft_status) values (#{draft_no},#{register},#{leave_cate},#{leave_use}, #{leave_start},#{leave_end},#{draft_status})
	</insert>
	
	<select id="myAppListCall" resultType="app">
		SELECT 
			d.draft_no
			,d.draft_start 
			,d.draft_end 
			,d.draft_subject
			,e.name AS register 
			,(SELECT e2.name FROM approver a JOIN emp e2 WHERE d.draft_no = a.draft_no AND a.emp_no = e2.emp_no ORDER BY a.app_procedure DESC LIMIT 1) AS final_approver
			,d.draft_status 
		FROM draft d JOIN emp e ON d.register = e.emp_no WHERE emp_no = #{param4} and (d.draft_subject LIKE #{param1} OR e.name LIKE #{param1})
		<if test="param5 != null">
			AND d.draft_status = #{param5}
		</if>
		ORDER BY d.draft_start DESC, d.draft_end ASC LIMIT #{param2}, #{param3}
	</select>
	
	<select id="myAppTotalPage" resultType="int">
		SELECT CEIL(COUNT(draft_no)/#{param2}) AS pages FROM draft WHERE draft_subject LIKE #{param1} and register = #{param3}
		<if test="param4 != null">
			AND draft_status = #{param4}
		</if>
	</select>
		
	<select id="draftDetail" resultType="app">
		SELECT 
			d.draft_no
			,d.register
			,(SELECT name FROM emp e WHERE e.emp_no = d.register) AS name
			,(SELECT cc.code_name FROM common_code cc JOIN emp e WHERE e.emp_no = d.register AND e.dept_code = cc.code_no) AS dept_name
			,(SELECT cc.code_name FROM common_code cc JOIN emp e WHERE e.emp_no = d.register AND e.rank_code = cc.code_no) AS rank_name
			,d.draft_subject 
			,d.draft_start
			,d.draft_end 
			,d.draft_content
			,d.draft_status
			,lm.leave_cate 
			,lm.leave_start
			,lm.leave_end 
			,lm.leave_use 
		FROM draft d JOIN leave_management lm ON d.draft_no = lm.draft_no WHERE d.draft_no = #{param1};
	</select>
	
	<select id="fileList" resultType="map">
		SELECT ori_file_name, file_name FROM file WHERE ref_idx = #{param1} 
	</select>
	
	<select id="appLineCall">
		SELECT
			a.emp_no 
			,(select cc.code_name from common_code cc where e.rank_code = cc.code_no) as rank_name
			,e.name
			,a.app_date
			,a.app_procedure
			,a.app_status
		FROM approver a JOIN emp e ON a.emp_no = e.emp_no WHERE a.draft_no = #{param1};
	</select>
	
	<select id="reqAppListCall" resultType="app">
			SELECT 
				dr.draft_no
				,dr.draft_start 
				,dr.draft_end 
				,dr.draft_subject 
				,(select e.name from emp e where dr.register = e.emp_no) AS name
				,(select e2.name from approver a2 JOIN emp e2 WHERE dr.draft_no = a2.draft_no AND e2.emp_no = a2.emp_no ORDER BY a2.app_procedure desc limit 1) AS final_approver
				,dr.draft_status 
			FROM draft dr JOIN approver ap 
				ON dr.draft_no = ap.draft_no 
				WHERE 
			 (ap.emp_no = #{param4} 
			 	AND dr.draft_status IN ('Y','N') 
				AND dr.draft_subject LIKE #{param1}
				AND dr.register != #{param4}
				AND ap.app_date is not null
			<if test="param5 != null">
				AND dr.draft_status = #{param5}
			</if>)
			 	 OR 
			 (ap.emp_no = #{param4}
				AND (SELECT a.app_date FROM approver a WHERE a.draft_no = dr.draft_no AND a.app_procedure = ap.app_procedure - 1) is not null
				AND dr.draft_status != 'T'
				AND ap.app_date is null
				AND dr.draft_subject LIKE #{param1}
			<if test="param5 != null">
				AND dr.draft_status = #{param5}
			</if>)
			ORDER BY dr.draft_start DESC, dr.draft_end ASC LIMIT #{param2}, #{param3}
	</select>
	
	<select id="reqAppTotalPage" resultType="int">
		SELECT CEIL(COUNT(dr.draft_no)/#{param2}) AS pages 
			FROM draft dr JOIN approver ap 
				ON dr.draft_no = ap.draft_no 
				WHERE ap.emp_no = #{param3} AND (SELECT a.app_date FROM approver a WHERE a.draft_no = dr.draft_no AND a.app_procedure = ap.app_procedure - 1) is not null AND dr.draft_status != 'T'
				AND dr.draft_subject LIKE #{param1}
			<if test="param4 != null">
				AND draft_status = #{param4}
			</if>
	</select>
	
	<update id="approve" parameterType="map">
		UPDATE approver SET app_status = 'Y', app_date = now() WHERE draft_no = #{draft_no} AND emp_no = #{emp_no};
	</update>
	
	
	<update id="draftApprove" parameterType="map">
		UPDATE draft SET draft_status = 'Y' WHERE draft_no = #{draft_no}
	</update>
	
	<update id="leave_mng_approve" parameterType="map">
		UPDATE leave_management SET draft_status = 'Y' WHERE draft_no = #{draft_no}
	</update>
	
	<insert id="leave_history_add" parameterType="map">
		INSERT INTO leave_history(emp_no, annual, leave_division, register)
			VALUES(#{register}, #{annual}, '-', #{emp_no})
	</insert>
	
	<update id="draft_companion" parameterType="map">
		UPDATE draft SET draft_status = 'N', reason = #{reason} WHERE draft_no = #{draft_no}
	</update>
	
	<update id="app_companion" parameterType="map">
		UPDATE approver SET app_status = 'N', app_date = now() WHERE draft_no = #{draft_no} AND emp_no = #{emp_no}
	</update>
	
	<update id="leave_companion" parameterType="map">
		UPDATE leave_management SET draft_status = 'N' WHERE draft_no = #{draft_no}
	</update>
	
	<select id="availableTotalPage" resultType="int">
		SELECT CEIL(COUNT(dr.draft_no)/#{param2}) AS pages 
			FROM draft dr JOIN view_referrer vr 
				ON dr.draft_no = vr.draft_no 
				WHERE 
					(vr.emp_no = #{param3} OR vr.dept_code = #{param5}) 
			        <if test="param4.equals('V')">
			            AND dr.draft_status = 'Y'
			        </if>
						AND vr.view_reffer_division = #{param4}
						AND dr.draft_subject LIKE #{param1};
	</select>
	
	<select id="availableViewListCall" resultType="app">
		SELECT DISTINCT
			dr.draft_no
			,dr.draft_start 
			,dr.draft_end 
			,dr.draft_subject 
			,(select e.name from emp e where dr.register = e.emp_no) AS name
			,(select e2.name from approver a2 JOIN emp e2 WHERE dr.draft_no = a2.draft_no AND e2.emp_no = a2.emp_no ORDER BY a2.app_procedure desc limit 1) AS final_approver
			,dr.draft_status 	
		FROM draft dr JOIN view_referrer vr ON dr.draft_no = vr.draft_no 
		WHERE 
			(vr.emp_no = #{param4} OR vr.dept_code = #{param6})
			<if test='param5.equals("V")'>
				AND 
			dr.draft_status = 'Y'
			</if>
		 		AND 
		 	vr.view_reffer_division = #{param5}
		 		AND
		 	dr.draft_subject LIKE #{param1}
		 		ORDER BY 
		 	dr.draft_start DESC, dr.draft_end ASC LIMIT #{param2}, #{param3}
	</select>
	
	<select id="draftTemporary" resultType="app">
		SELECT 
			d.draft_no
			,d.register
			,(SELECT name FROM emp e WHERE e.emp_no = d.register) AS name
			,(SELECT cc.code_name FROM common_code cc JOIN emp e WHERE e.emp_no = d.register AND e.dept_code = cc.code_no) AS dept_name
			,(SELECT cc.code_name FROM common_code cc JOIN emp e WHERE e.emp_no = d.register AND e.rank_code = cc.code_no) AS rank_name
			,d.draft_subject 
			,d.draft_start
			,d.draft_end 
			,d.draft_content
			,d.draft_status
			,lm.leave_cate 
			,lm.leave_start
			,lm.leave_end 
			,lm.leave_use 
		FROM draft d JOIN leave_management lm ON d.draft_no = lm.draft_no WHERE d.draft_no = #{param1};
	</select>
	
	<select id="compReason">
		SELECT reason FROM draft WHERE draft_no = #{param1}
	</select>
	
	<select id="approvers" resultType="emp">
		SELECT 
			a.emp_no
			,(SELECT name FROM emp e WHERE e.emp_no = a.emp_no) AS eName
			,(SELECT cc.code_name FROM common_code cc JOIN emp e WHERE e.emp_no = a.emp_no AND e.dept_code = cc.code_no) AS dept_name
			,(SELECT cc.code_name FROM common_code cc JOIN emp e WHERE e.emp_no = a.emp_no AND e.rank_code = cc.code_no) AS rank_name
		FROM approver a WHERE a.draft_no = #{param1} ORDER BY a.app_procedure;
	</select>
	
	<select id="referrers" resultType="emp">
		SELECT 
			vr.emp_no
			,(SELECT name FROM emp e WHERE e.emp_no = vr.emp_no) AS name
			,(SELECT cc.code_name FROM common_code cc JOIN emp e WHERE e.emp_no = vr.emp_no AND e.rank_code = cc.code_no) AS rank_name
			,vr.dept_code
			,(SELECT cc.code_name FROM common_code cc WHERE cc.code_no = vr.dept_code) AS dept_name
		FROM view_referrer vr WHERE view_reffer_division = 'R' AND draft_no = #{param1}
	</select>
	
	<select id="views" resultType="emp">
		SELECT 
			vr.emp_no
			,(SELECT name FROM emp e WHERE e.emp_no = vr.emp_no) AS name
			,(SELECT cc.code_name FROM common_code cc JOIN emp e WHERE e.emp_no = vr.emp_no AND e.rank_code = cc.code_no) AS rank_name
			,vr.dept_code
			,(SELECT cc.code_name FROM common_code cc WHERE cc.code_no = vr.dept_code) AS dept_name
		FROM view_referrer vr WHERE view_reffer_division = 'V' AND draft_no = #{param1}
	</select>
	
	<delete id="delDraft">
		DELETE FROM draft WHERE draft_no = #{param1}
	</delete>
	
	
</mapper>