<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.CalendarDAO">
	
	<select id="getEvents" resultType="calendar">
	    SELECT cal_no, cal_content, cal_start, cal_end
	    FROM calendar
	</select>
    
    <insert id="createEvent">
        INSERT INTO calendar (emp_no, cal_content, cal_start, cal_end) VALUES (1001,#{cal_content}, #{cal_start}, #{cal_end})
    </insert>
    
    <delete id="deleteEvent">
        DELETE FROM calendar WHERE cal_no = #{cal_no}
    </delete>

	

	
</mapper>