<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.CommonDAO">


<select id="treeCall" resultType="emp">
	SELECT 
		(SELECT code_name FROM common_code cc WHERE e.dept_code = cc.code_no) AS dept_name,
		CONCAT(e.name, ' ', (SELECT code_name FROM common_code cc WHERE e.rank_code = cc.code_no)) AS name 
	FROM emp e ORDER BY e.rank_code, e.name;
</select>

<select id="listCall" resultType="emp">
	<if test="param1 == ''">
		SELECT 
			(SELECT code_name FROM common_code cc WHERE e.dept_code = cc.code_no) AS dept_name,
			CONCAT(e.name, ' ', (SELECT code_name FROM common_code cc WHERE e.rank_code = cc.code_no)) AS name 
		FROM emp e ORDER BY e.rank_code, e.name LIMIT #{param2}, #{param3};
	</if>
	<if test="param1 != null">
		SELECT 
			(SELECT code_name FROM common_code cc WHERE e.dept_code = cc.code_no) AS dept_name,
			CONCAT(e.name, ' ', (SELECT code_name FROM common_code cc WHERE e.rank_code = cc.code_no)) AS name 
		FROM emp e WHERE e.name LIKE #{param1} ORDER BY e.rank_code, e.name LIMIT #{param2}, #{param3};
	</if>

</select>

<select id="totalPage" resultType="int">

	<if test="param1 == ''">
		SELECT CEIL(COUNT(emp_no)/#{param2}) AS pages FROM emp
	</if>

	<if test="param1 != null">
		SELECT CEIL(COUNT(emp_no)/#{param2}) AS pages FROM emp WHERE name LIKE #{param1}
	</if>

</select>
	
	
</mapper>