<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.CommonDAO">


<select id="treeCall" resultType="emp">
	SELECT 
		(SELECT code_name FROM common_code cc WHERE e.dept_code = cc.code_no) AS dept_name,
		CONCAT(e.name, ' ', (SELECT code_name FROM common_code cc WHERE e.rank_code = cc.code_no)) AS name ,
		e.name as eName,
		e.emp_no,
		 (SELECT code_name FROM common_code cc WHERE e.rank_code = cc.code_no) as rank_name
	FROM emp e WHERE e.name LIKE #{param1} ORDER BY e.rank_code, e.name
</select>

<select id="listCall" resultType="emp">
		SELECT 
			(SELECT code_name FROM common_code cc WHERE e.dept_code = cc.code_no) AS dept_name,
			CONCAT(e.name, ' ', (SELECT code_name FROM common_code cc WHERE e.rank_code = cc.code_no)) AS name 
		FROM emp e WHERE e.name LIKE #{param1} ORDER BY e.rank_code, e.name LIMIT #{param2}, #{param3}
</select>

<select id="totalPage" resultType="int">

	<if test="param1 == ''">
		SELECT CEIL(COUNT(emp_no)/#{param2}) AS pages FROM emp
	</if>

	<if test="param1 != null">
		SELECT CEIL(COUNT(emp_no)/#{param2}) AS pages FROM emp WHERE name LIKE #{param1}
	</if>

</select>

<insert id="reservation" parameterType="map">
	INSERT INTO reservation(res_no,cos_name,cos_phone,in_date,out_date,res_date,res_price,type_code,tid)
		VALUES(#{res_no},#{cos_name},#{cos_phone},#{checkIn},#{checkOut},CURRENT_DATE(),#{total_amount},#{type_code},#{tid})
</insert>

<select id="todayResSearch" resultType="int">
	SELECT COUNT(*)  as res_no from reservation where SUBSTRING(res_no,1,6) =#{currDate}
</select>

<select id="todayResNumSearch" resultType="int">
	SELECT res_no FROM reservation 
	WHERE SUBSTRING(res_no,1,6) =#{currDate} ORDER BY res_no DESC limit 1
</select>

<select id="price">
	SELECT ${room_type} FROM room_price WHERE date = #{date}
</select>
	
<select id="plus_price">
	SELECT ${change_room_type} - ${price} as Plus_Price FROM room_price WHERE date = #{date}
</select>	

<update id="changeRoom">
	UPDATE stay SET room_no = #{change_room},
		plus_price = #{plus_price}
	WHERE res_no = #{res_no}
</update>
	
</mapper>