<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.CustomerDAO">

    <select id="noticelist" resultType="annDTO" parameterType="map">
        SELECT 
        	row_number() over(ORDER BY a.ann_fixed DESC, a.ann_no DESC) 
        	- (SELECT COUNT(a2.ann_no) from announcement a2 where ann_fixed = 'Y' and ann_division = 'E')
        		 as row_num,
            a.ann_no, a.ann_subject, a.ann_content, a.ann_bHit, a.ann_division, a.ann_fixed, 
            e.name AS register, a.ann_date
        FROM 
            announcement a
        LEFT JOIN 
            emp e ON a.register = e.emp_no
        WHERE 
            a.ann_division = 'C'
        ORDER BY 
            a.ann_fixed DESC, a.ann_no DESC
        LIMIT #{pagePerCnt} OFFSET ${(currPage - 1) * pagePerCnt}
    </select>


    <select id="noticeCount" resultType="Integer">
        SELECT CEIL(COUNT(ann_no) / #{param1}) AS pages 
        FROM announcement 
        WHERE ann_division = 'E'
    </select>




    <select id="noticeSearch" parameterType="string" resultType="annDTO">
        SELECT 
        row_number() over(ORDER BY a.ann_fixed DESC, a.ann_no DESC) 
        	- (SELECT COUNT(a2.ann_no) from announcement a2 where ann_fixed = 'Y' and ann_division = 'E')
        		 as row_num,
            a.ann_no, a.ann_subject, a.ann_content, a.ann_bHit, a.ann_division, a.ann_fixed, 
            e.name AS register, a.ann_date 
        FROM 
            announcement a
        LEFT JOIN 
            emp e ON a.register = e.emp_no
        WHERE 
            ann_subject LIKE CONCAT('%', #{textval}, '%') and ann_division ='C'
    </select>

<select id="noticedetail" resultType="annDTO">
    SELECT  
        a.ann_no, 
        a.ann_subject, 
        a.ann_content, 
        a.ann_bHit, 
        a.ann_division, 
        a.ann_fixed, 
        e.name AS register, 
        a.ann_date, 
        e2.name AS updater, 
        a.update_date
    FROM 
        announcement AS a
    LEFT JOIN 
        emp AS e ON a.register = e.emp_no
    LEFT JOIN 
        emp AS e2 ON a.updater = e2.emp_no
    WHERE 
        a.ann_no = #{ann_no}
</select>

<update id="bHit" parameterType="string">
    UPDATE announcement
    SET ann_bHit = ann_bHit + 1
    WHERE ann_no = #{ann_no}
</update>

<select id="getannbyId" parameterType="String" resultType="annDTO">
        SELECT * FROM announcement WHERE ann_no = #{ann_no}
</select>
    
<select id="noticephoto" parameterType="string" resultType="string">
        SELECT pho_name
        FROM photo 
        WHERE ref_idx = #{ann_no} AND pho_division = 'A'
</select>


<!-- 고객 페이지  -->



<select id="room_info" resultType="com.connec.tel.dto.GuestManageDTO">
		SELECT * FROM room_information
	</select>

<select id="standard_num">
		SELECT COUNT(*) as cnt FROM reservation WHERE (in_date <![CDATA[ <= ]]> #{out_date} AND out_date <![CDATA[ > ]]> #{in_date}) AND division = 'A' AND type_code ='1001'
</select>
	
<select id="superior_num">
		SELECT COUNT(*) as cnt FROM reservation WHERE (in_date <![CDATA[ <= ]]> #{out_date} AND out_date <![CDATA[ > ]]> #{in_date}) AND division = 'A' AND type_code ='1002'
</select>
	
<select id="delux_num">
		SELECT COUNT(*) as cnt FROM reservation WHERE (in_date <![CDATA[ <= ]]> #{out_date} AND out_date <![CDATA[ > ]]> #{in_date}) AND division = 'A' AND type_code ='1003'
</select>
		
<select id="suite_num">
		SELECT COUNT(*) as cnt FROM reservation WHERE (in_date <![CDATA[ <= ]]> #{out_date} AND out_date <![CDATA[ > ]]> #{in_date}) AND division = 'A' AND type_code ='1004'
	</select>

<select id="reserveListCall" parameterType="map" resultType="com.connec.tel.dto.GuestManageDTO">
	    SELECT date, standard, superior, delux, suite FROM room_price
	    WHERE date <![CDATA[ >= ]]> #{in_date} AND date <![CDATA[ < ]]> #{out_date}
</select>


<select id="getRoomPrices" resultType="com.connec.tel.dto.GuestManageDTO">
        SELECT MIN(standard) as standard, MIN(superior) as superior, MIN(delux) as delux, MIN(suite) as suite
        FROM room_price
        WHERE date <![CDATA[ >= ]]> #{in_date} AND date <![CDATA[ < ]]> #{out_date}
    </select>

<select id="standardphoto" resultType="String">
	SELECT pho_name FROM photo where ref_idx = 1001 and pho_division = 'I'
</select>

<select id="superiorphoto" resultType="String">
	SELECT pho_name FROM photo where ref_idx = 1002 and pho_division = 'I'
</select>

<select id="deluxphoto" resultType="String">
	SELECT pho_name FROM photo where ref_idx = 1003 and pho_division = 'I'
</select>

<select id="suitephoto" resultType="String">
	SELECT pho_name FROM photo where ref_idx = 1004 and pho_division = 'I'
</select>



<select id="standard_detail" resultType="String">
	SELECT room_detail FROM room_information WHERE type_code = 1001
 </select>

<select id="superior_detail" resultType="String">
	SELECT room_detail FROM room_information WHERE type_code = 1002
 </select>

<select id="delux_detail" resultType="String">
	SELECT room_detail FROM room_information WHERE type_code = 1003
 </select>

<select id="suite_detail" resultType="String">
	SELECT room_detail FROM room_information WHERE type_code = 1004
 </select>
 
 

<select id="standard_extent" resultType="String">
	SELECT room_extent FROM room_information WHERE type_code = 1001
 </select>

<select id="superior_extent" resultType="String">
	SELECT room_extent FROM room_information WHERE type_code = 1002
 </select>

<select id="delux_extent" resultType="String">
	SELECT room_extent FROM room_information WHERE type_code = 1003
 </select>

<select id="suite_extent" resultType="String">
	SELECT room_extent FROM room_information WHERE type_code = 1004
 </select>



<select id="standard_amenity" resultType="String">
	SELECT room_amenities FROM room_information WHERE type_code = 1001
 </select>
 <select id="superior_amenity" resultType="String">
	SELECT room_amenities FROM room_information WHERE type_code = 1002
 </select>
 <select id="delux_amenity" resultType="String">
	SELECT room_amenities FROM room_information WHERE type_code = 1003
 </select>
 <select id="suite_amenity" resultType="String">
	SELECT room_amenities FROM room_information WHERE type_code = 1004
 </select>
 


<select id="standard_roomview" resultType="String">
	SELECT room_view FROM room_information WHERE type_code = 1001
 </select>
 <select id="superior_roomview" resultType="String">
	SELECT room_view FROM room_information WHERE type_code = 1002
 </select>
 <select id="delux_roomview" resultType="String">
	SELECT room_view FROM room_information WHERE type_code = 1003
 </select>
 <select id="suite_roomview" resultType="String">
	SELECT room_view FROM room_information WHERE type_code = 1004
 </select>
 

 
 
 <select id="todayResSearch" resultType="int">
	SELECT COUNT(*)  as res_no from reservation where SUBSTRING(res_no,1,6) =#{currDate}
</select>

<select id="todayResNumSearch" resultType="int">
	SELECT res_no FROM reservation 
	WHERE SUBSTRING(res_no,1,6) =#{currDate} ORDER BY res_no DESC limit 1
</select>
 
 
 <select id="price">
	SELECT res_price FROM reservation WHERE res_no = #{param1}
</select>
	
<select id="plus_price">
	SELECT ${change_room_type} - ${price} as Plus_Price FROM room_price WHERE date = #{date}
</select>
 
 
 <insert id="reservation" parameterType="map">
	INSERT INTO reservation(res_no,cos_name,cos_email,cos_phone,in_date,out_date,res_date,res_price,type_code,tid)
		VALUES(#{res_no},#{cos_name},#{cos_email},#{cos_phone},#{checkIn},#{checkOut},CURRENT_DATE(),#{total_amount},#{type_code},#{tid})
</insert>
<select id="getres_no">
	select res_no FROM reservation WHERE cos_email = #{param1} order by res_no desc limit 1
</select>

    <select id="checkReservation" parameterType="map" resultType="com.connec.tel.dto.RoomDTO">
        SELECT * FROM reservation
        WHERE cos_name = #{name} AND cos_phone = #{phone} AND res_no = #{reservationNo}AND division = 'A'
    </select>

<select id="reservedetail" parameterType="String" resultType="com.connec.tel.dto.RoomDTO" >
	SELECT * FROM reservation
		WHERE res_no = #{res_no}AND division = 'A'
</select>

<select id="room_detail_infomation" parameterType="String" resultType="com.connec.tel.dto.RoomDTO" >
	 SELECT * 
    FROM room_information
    WHERE type_code = (
        SELECT type_code 
        FROM reservation 
        WHERE res_no = #{res_no}
    )
</select>




</mapper>