<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.CustomerDAO">

    <select id="noticelist" resultType="annDTO" parameterType="map">
        SELECT 
            a.ann_no, a.ann_subject, a.ann_content, a.ann_bHit, a.ann_division, a.ann_fixed, 
            e.name AS register, a.ann_date
        FROM 
            announcement a
        LEFT JOIN 
            emp e ON a.register = e.emp_no
        WHERE 
            a.ann_division = 'C'
        ORDER BY 
            a.ann_fixed DESC, a.ann_no DESC
        LIMIT #{pagePerCnt} OFFSET ${(currPage - 1) * pagePerCnt}
    </select>


    <select id="noticeCount" resultType="Integer">
        SELECT CEIL(COUNT(ann_no) / #{param1}) AS pages 
        FROM announcement 
        WHERE ann_division = 'E'
    </select>




    <select id="noticeSearch" parameterType="string" resultType="annDTO">
        SELECT 
            a.ann_no, a.ann_subject, a.ann_content, a.ann_bHit, a.ann_division, a.ann_fixed, 
            e.name AS register, a.ann_date 
        FROM 
            announcement a
        LEFT JOIN 
            emp e ON a.register = e.emp_no
        WHERE 
            ann_subject LIKE CONCAT('%', #{textval}, '%') and ann_division ='C'
        ORDER BY 
            ann_no DESC
    </select>

<select id="noticedetail" resultType="annDTO">
    SELECT  
        a.ann_no, 
        a.ann_subject, 
        a.ann_content, 
        a.ann_bHit, 
        a.ann_division, 
        a.ann_fixed, 
        e.name AS register, 
        a.ann_date, 
        e2.name AS updater, 
        a.update_date
    FROM 
        announcement AS a
    LEFT JOIN 
        emp AS e ON a.register = e.emp_no
    LEFT JOIN 
        emp AS e2 ON a.updater = e2.emp_no
    WHERE 
        a.ann_no = #{ann_no}
</select>






<update id="bHit" parameterType="string">
    UPDATE announcement
    SET ann_bHit = ann_bHit + 1
    WHERE ann_no = #{ann_no}
</update>

<select id="getannbyId" parameterType="String" resultType="annDTO">
        SELECT * FROM announcement WHERE ann_no = #{ann_no}
</select>
    
<select id="noticephoto" parameterType="string" resultType="string">
        SELECT pho_name
        FROM photo 
        WHERE ref_idx = #{ann_no} AND pho_division = 'A'
</select>

</mapper>