<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.EmpDAO">

	<insert id="empRegist" parameterType="map">
		INSERT INTO emp(emp_no,
		dept_code, rank_code, name, gender, email, password,
		phone, birth,
		post_no, address, detail_address,
		bank_name, account_no, join_date,
		authority,register)
		VALUES (#{emp_no}, #{dept_code}, #{rank_code},
		#{name}, #{gender}, #{email},
		#{password},
		#{phone}, #{birth},
		#{post_no}, #{address}, #{detail_address},
		#{bank_name}, #{account_no},
		#{join_date}, #{authority},#{register})
	</insert>

	<insert id="fileWrite">
		INSERT INTO photo(ref_idx, ori_pho_name, pho_name,
		pho_division)
		VALUES(#{param1}, #{param2}, #{param3}, #{param4})
	</insert>

	<select id="empList" resultType="emp">
	    SELECT * FROM emp e JOIN emp_status es ON es.emp_no = e.emp_no 
	    WHERE e.emp_no LIKE 'SH%'
	    <choose>
	        <when test="param5 == 1">
	            <if test="param4 != null">
	                <choose>
	                    <when test="param4 == 2">
	                        AND es.status_division LIKE '%${param3}%'
	                    </when>
	                    <when test="param4 == 1">
	                        AND e.name LIKE '%${param3}%'
	                    </when>
	                </choose>
	            </if>
	        </when>
	        <when test="param5 == 2">
	            AND e.dept_code = '11'
	            <if test="param4 != null">
	                <choose>
	                    <when test="param4 == 2">
	                        AND es.status_division LIKE '%${param3}%'
	                    </when>
	                    <when test="param4 == 1">
	                        AND e.name LIKE '%${param3}%'
	                    </when>
	                </choose>
	            </if>
	        </when>
	        <when test="param5 == 3">
	            AND e.dept_code = '22'
	            <if test="param4 != null">
	                <choose>
	                    <when test="param4 == 2">
	                        AND es.status_division LIKE '%${param3}%'
	                    </when>
	                    <when test="param4 == 1">
	                        AND e.name LIKE '%${param3}%'
	                    </when>
	                </choose>
	            </if>
	        </when>
	        <when test="param5 == 4">
	            AND e.dept_code = '33'
	            <if test="param4 != null">
	                <choose>
	                    <when test="param4 == 2">
	                        AND es.status_division LIKE '%${param3}%'
	                    </when>
	                    <when test="param4 == 1">
	                        AND e.name LIKE '%${param3}%'
	                    </when>
	                </choose>
	            </if>
	        </when>
	    </choose>
	    LIMIT #{param1}, #{param2}
	</select>



	<select id="empAllCount" resultType="int">
		SELECT CEIL (COUNT(e.emp_no)/#{param1}) AS pages FROM emp e JOIN emp_status es ON es.emp_no = e.emp_no 
		WHERE e.emp_no LIKE 'SH%'
			<choose>
				<when test="param4 == 1">
					<if test='param3 != null'>					
						 <if test="param3 == 2">
						 AND es.status_division LIKE '%${param2}%' 
						 </if>
						<if test="param3 == 1">
						AND e.name LIKE '%${param2}%' 	
						</if> 
					</if>	
				</when>
				<when test="param4 == 2">
					AND e.dept_code = "11"
					<if test='param3 != null'>
				
						 <if test="param3 == 2">
						 AND es.status_division LIKE '%${param2}%' 
						 </if>
						<if test="param3 == 1">
							e.name LIKE '%${param2}%' 	
						</if> 
					</if>	
				</when>
				<when test="param4 == 3">
					AND e.dept_code = "22"
					<if test='param3 != null'>
					 
						 <if test="param3 == 2">
						 AND es.status_division LIKE '%${param2}%' 
						 </if>
						<if test="param3 == 1">
						AND	 e.name LIKE '%${param2}%' 	
						</if> 
					</if>	
				</when>
				<when test="param4 ==4">
					AND e.dept_code = "33"
					<if test='param3 != null'>
						 <if test="param3 == 2">
						 AND es.status_division LIKE '%${param2}%' 
						 </if>
						<if test="param3 == 1">
						AND	 e.name LIKE '%${param2}%' 	
						</if> 
					</if>	
				</when>
			</choose>
	</select>

	<select id="empDetail" resultType="emp">
		SELECT * FROM emp e
		JOIN emp_status es ON es.emp_no = e.emp_no
		WHERE e.emp_no = #{param1}
	</select>

	<insert id="empStatus">
		INSERT INTO emp_status(emp_no,register,status_start)
		VALUES(#{param1},#{param2},#{param3})
	</insert>

	<select id="UserPhotoLoad" resultType="emp">
		SELECT pho_name FROM photo
				WHERE pho_division = "P" AND ref_idx = #{param1} LIMIT 1
	</select>
	
	<update id="resetPw">
		UPDATE emp SET pw = #{param1} 
	</update>
	
	<update id="empEditDo" parameterType="map">
	    UPDATE emp 
	    SET 
	        dept_code = #{dept_code},
	        rank_code = #{rank_code},
	        name = #{name},
	        email = #{email},
	        phone = #{phone},
	        post_no = #{post_no},
	        address = #{address},
	        detail_address = #{detail_address},
	        bank_name = #{bank_name},
	        account_no = #{account_no},
	        join_date = #{join_date},
	        authority = #{authority}
	    WHERE emp_no = #{emp_no}
	</update>
	
	<select id = "leaveList" resultType = "emp">
		SELECT * FROM leave_history lh JOIN leave_management lm
			ON lh.emp_no = lm.emp_no
				WHERE lh.emp_no = #{param3}
	    LIMIT #{param1}, #{param2}	
	</select>
	
	<select id = "leaveAllCount" resultType = "int">
	SELECT CEIL (COUNT(lh.emp_no)/#{param1}) AS pages FROM leave_history lh
		 JOIN leave_management lm ON lh.emp_no = lm.emp_no WHERE lh.emp_no = #{param2}
	</select>
	
	<select id = "leaveDetail" resultType = "emp">
	SELECT 
	    lh.emp_no,
	    lh.annual AS total_leave,
	    COALESCE(SUM(lm.leave_use), 0) AS use_leave,
	    lh.annual - COALESCE(SUM(lm.leave_use), 0) AS balance_leave
	FROM 
	    leave_history lh
	LEFT JOIN 
	    leave_management lm ON lh.emp_no = lm.emp_no
	GROUP BY 
	    lh.emp_no, lh.annual order by '총휴가일' limit 1
	</select>


</mapper>