<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>
<mapper namespace="com.connec.tel.dao.FaqDAO">
    <select id="list" resultType="faqDTO" parameterType="map">
    SELECT 
    	row_number() over(ORDER BY FAQ_no DESC)as row_num,
     FAQ_no,
     register,
     FAQ_subject,
     FAQ_content,
     regist_date,
     updater,
     update_date,
     FAQ_category
     
    FROM FAQ
    <where>
        <if test="category != null and category != '' and category != '전체'">
            AND FAQ_category = #{category}
        </if>
    </where>
    ORDER BY FAQ_no DESC
    LIMIT #{pagePerCnt} OFFSET ${(currPage - 1) * pagePerCnt}
</select>	

<select id="allCount" resultType="Integer">
    SELECT CEIL(COUNT(FAQ_no) / #{param1}) AS pages FROM FAQ
    <where>
        <if test="category != null and category != '' and category != '전체'">
            AND FAQ_category = #{category}
        </if>
    </where>
</select>

<select id="searchCount" resultType="Integer">
    SELECT CEIL(COUNT(FAQ_no) / #{param1}) AS pages FROM FAQ WHERE FAQ_subject LIKE CONCAT('%', #{param3}, '%')
</select>

    
 <insert id="write" parameterType="map">
    INSERT INTO FAQ (FAQ_subject, FAQ_content, FAQ_category, regist_date, register)
    VALUES (#{subject}, #{textcontent}, #{category}, NOW(), #{register})
</insert>

    <select id="faqDetail" resultType="FaqDTO">
        SELECT * FROM FAQ WHERE FAQ_no = #{faq_no}
    </select>
    
<select id="faqsearch" parameterType="string" resultType="FaqDTO">
    SELECT * FROM FAQ
    WHERE FAQ_subject LIKE CONCAT('%', #{textval}, '%')
    ORDER BY FAQ_no DESC
</select>
   
    
    <delete id="deleteFaqs" parameterType="list">
        DELETE FROM FAQ WHERE FAQ_no IN 
        <foreach item="FAQ_no" collection="list" open="(" separator="," close=")">
            #{FAQ_no}
        </foreach>
    </delete>
    
     <select id="getFaqById" parameterType="String" resultType="FaqDTO">
        SELECT * FROM FAQ WHERE FAQ_no = #{faq_no}
    </select>

<update id="updateFaq" parameterType="faqDTO">
    UPDATE FAQ
    SET FAQ_subject = #{FAQ_subject},
        FAQ_category = #{FAQ_category},
        FAQ_content = #{FAQ_content},
        update_date = NOW(),
        updater = #{updater}
    WHERE FAQ_no = #{FAQ_no}

</update>
</mapper>
