<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.FaqDAO">

<select id="list" resultType="faqDTO" parameterType="map">
	SELECT faq_no,faq_subject FROM FAQ
</select>

	
	
</mapper>