<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.LoginDAO">
	
	<select id="login" resultType="emp">
		SELECT
		 *,
		 (SELECT code_name FROM common_code cc WHERE e.dept_code = cc.code_no) AS dept_name,
		 (SELECT code_name FROM common_code cc WHERE e.rank_code = cc.code_no) AS rank_name,
		 (SELECT p.pho_name FROM photo p WHERE p.ref_idx = e.emp_no) AS profile_img
		FROM emp e WHERE email=#{param1}
	</select>
	
	<select id="leftOver" resultType="float">
		SELECT
			CASE 
			WHEN 
			(SELECT SUM(annual) FROM leave_history lh WHERE leave_division = '-' AND emp_no = #{param1}) IS NULL THEN 0	
			ELSE 
			(SELECT SUM(annual) FROM leave_history lh WHERE leave_division = '+' AND emp_no = #{param1})
				-
			(SELECT SUM(annual) FROM leave_history lh WHERE leave_division = '-' and emp_no = #{param1})
			END AS leftover
		FROM leave_history lh2 GROUP BY leftover
	</select>
	
	
</mapper>