<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.MailDAO">
<insert id="mailSave" useGeneratedKeys="true" keyColumn="mail_no" keyProperty="mail_no" parameterType="com.connec.tel.dto.MailDTO">
    INSERT INTO mail(emp_no,mail_receiver,mail_subject,mail_content,status,send_date)
		VALUES(#{emp_no},#{mail_receiver},#{mail_subject},#{mail_content},'S',NOW())
</insert>

<insert id="fileUpload">
	INSERT INTO file(ori_file_name,file_name,ref_idx,file_division)
		VALUES(#{oriName},#{newFileName},#{mail_no},'M')
</insert>

<select id="totalPage" resultType="int">

		<if test="param1 == ''">
			SELECT CEIL(COUNT(mail_no)/#{param2}) AS pages FROM mail WHERE emp_no = #{param3} AND status = 'S'
		</if>
	
		<if test="param1 != null">
			SELECT CEIL(COUNT(mail_no)/#{param2}) AS pages FROM mail
				WHERE (mail_receiver LIKE #{param1} OR mail_subject LIKE #{param1})  AND emp_no = #{param3} AND status = 'S'
		</if>
		
</select>

<select id="clentTotalPage" resultType="int">

		<if test="param1 == ''">
			SELECT CEIL(COUNT(res_no)/#{param2}) AS pages FROM reservation WHERE cos_email != '현장예약'
		</if>
	
		<if test="param1 != null">
			SELECT CEIL(COUNT(res_no)/#{param2}) AS pages FROM reservation
				WHERE (cos_email LIKE #{param1} OR cos_name LIKE #{param1}) AND cos_email != '현장예약'
		</if>
		
</select>

<select id="clentList" resultType="com.connec.tel.dto.MailDTO">
		<if test="param1 == ''">
			SELECT res_no,cos_name,cos_phone,cos_email FROM reservation WHERE cos_email != '현장예약' GROUP by cos_email ORDER BY res_no DESC  LIMIT #{param2}, #{param3}
		</if>
		
		<if test="param1 != null">
			SELECT res_no,cos_name,cos_phone,cos_email FROM reservation  WHERE (cos_name LIKE #{param1} OR cos_email LIKE #{param1}) AND cos_email != '현장예약' GROUP by cos_email ORDER BY res_no DESC LIMIT #{param2}, #{param3}
		</if>
	</select>


<select id="myAddressTotalPage" resultType="int">

		<if test="param1 == ''">
			SELECT CEIL(COUNT(add_no)/#{param2}) AS pages FROM address WHERE emp_no = #{param3}
		</if>
	
		<if test="param1 != null">
			SELECT CEIL(COUNT(add_no)/#{param2}) AS pages FROM address
				WHERE (add_name LIKE #{param1} OR add_email LIKE #{param1})  AND emp_no = #{param3}
		</if>
		
</select>

<select id="tempTotalPage" resultType="int">

		<if test="param1 == ''">
			SELECT CEIL(COUNT(mail_no)/#{param2}) AS pages FROM mail WHERE emp_no = #{param3} AND status = 'T'
		</if>
	
		<if test="param1 != null">
			SELECT CEIL(COUNT(mail_no)/#{param2}) AS pages FROM mail
				WHERE (mail_receiver LIKE #{param1} OR mail_subject LIKE #{param1})  AND emp_no = #{param3} AND status = 'T'
		</if>
		
</select>

<select id="sendMailList" resultType="com.connec.tel.dto.MailDTO">
		<if test="param1 == ''">
			SELECT*FROM mail WHERE emp_no = #{param4} AND status = 'S' ORDER BY send_date DESC  LIMIT #{param2}, #{param3}
		</if>
		
		<if test="param1 != null">
			SELECT* FROM mail  WHERE (mail_receiver LIKE #{param1} OR mail_subject LIKE #{param1})  AND emp_no = #{param4} AND status = 'S' ORDER BY send_date DESC LIMIT #{param2}, #{param3}
		</if>
	</select>
	
	
	
	<select id="TempMailList" resultType="com.connec.tel.dto.MailDTO">
		<if test="param1 == ''">
			SELECT*FROM mail WHERE emp_no = #{param4} AND status = 'T' ORDER BY send_date DESC  LIMIT #{param2}, #{param3}
		</if>
		
		<if test="param1 != null">
			SELECT* FROM mail  WHERE (mail_receiver LIKE #{param1} OR mail_subject LIKE #{param1})  AND emp_no = #{param4} AND status = 'T' ORDER BY send_date DESC LIMIT #{param2}, #{param3}
		</if>
	</select>
	
	<select id="myAddressList" resultType="com.connec.tel.dto.MailDTO">
		<if test="param1 == ''">
			SELECT*FROM address WHERE emp_no = #{param4} ORDER BY add_no DESC  LIMIT #{param2}, #{param3}
		</if>
		
		<if test="param1 != null">
			SELECT* FROM address  WHERE (add_name LIKE #{param1} OR add_email LIKE #{param1})  AND emp_no = #{param4} ORDER BY add_no DESC LIMIT #{param2}, #{param3}
		</if>
	</select>
	
	<select id="mailDetail" resultType="com.connec.tel.dto.MailDTO">
		SELECT * FROM mail WHERE mail_no= #{mail_no}
	</select>
	
	<delete id="mail_delete">
		DELETE FROM mail WHERE mail_no = #{mail_no}
	</delete>
	
	<select id="mailFile" resultType="com.connec.tel.dto.MailDTO">
		SELECT ori_file_name,file_name FROM file WHERE ref_idx = #{mail_no}
	</select>
	
	<insert id="mailTempSave">
		INSERT INTO mail(emp_no,mail_receiver,mail_subject,mail_content,status,send_date)
			VALUES(#{emp_no},#{mail_receiver},#{mail_subject},#{mail_content},'T',NOW())
	</insert>
	
	<select id="clientAddListCall" resultType="com.connec.tel.dto.MailDTO">
	
		<if test="param1 == ''">
			SELECT * FROM reservation WHERE cos_email != '현장예약' GROUP by cos_email
		</if>
		
		<if test="param1 != null">
			SELECT * FROM reservation WHERE cos_email != '현장예약' AND (cos_name LIKE #{param1} OR cos_email LIKE #{param1}) GROUP by cos_email
		</if>
		
	</select>

	<insert id="addAddress" parameterType="map">
		INSERT INTO address(emp_no,add_name,add_email,belong,add_phone,add_favorite)
			VALUES(#{emp_no},#{add_name},#{add_email},#{belong},#{add_phone},#{add_favorite})
	</insert>
	
	<update id="updateFavoriteStatus" parameterType="map">
		UPDATE address SET add_favorite = #{isFavorite} WHERE add_no = #{addNo} 
	</update>
	
	<select id="myAddList" resultType="com.connec.tel.dto.MailDTO">
	
	<if test="param2 == ''">
			SELECT * FROM address WHERE emp_no = #{param1} AND add_favorite = 'false'
		</if>
		
		<if test="param2 != null">
			SELECT * FROM address WHERE emp_no = #{param1} AND (add_name LIKE #{param2} OR add_email LIKE #{param2}) AND add_favorite = 'false'
		</if>

	</select>
	
	<select id="myFavoriteList" resultType="com.connec.tel.dto.MailDTO">
	
	<if test="param2 == ''">
			SELECT * FROM address WHERE emp_no = #{param1} AND add_favorite = 'true'
		</if>
		
		<if test="param2 != null">
			SELECT * FROM address WHERE emp_no = #{param1} AND add_favorite = 'true' AND (add_name LIKE #{param2} OR add_email LIKE #{param2})
		</if>
	
	</select>
	
	<select id="reWrite" resultType="com.connec.tel.dto.MailDTO">
		SELECT * FROM mail WHERE mail_no = #{mail_no}
	</select>
	
	<delete id="myAddressListdelete">
		DELETE FROM address WHERE add_no = #{add_no}
	</delete>

</mapper>