<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.MessengerDAO">

	<insert id="createRoom" parameterType="String">
		INSERT INTO chat_room(chat_no,emp_no)
			VALUES (#{roomId}, #{emp_no})
	</insert>
	
	<select id="getChatRoom" resultType="chatRoom">
		SELECT 
			chat_no AS roomId
		FROM chat_room WHERE chat_no = #{param1}
	</select>
	
	<select id="chatRoomList" resultType="chatRoom">
		SELECT 
			cm.chat_no AS roomId,
			(SELECT p.pho_name FROM photo p WHERE p.ref_idx = cr.emp_no) AS profile_img,
			cm.room_name,
			(SELECT COUNT(content_no) FROM chat_detail cd WHERE cd.chat_no = cr.chat_no AND cm.enter_date <![CDATA[<]]> cd.chat_date AND cd.emp_no != #{param1} GROUP BY cd.chat_no) AS newChat,
			(select cd2.chat_content from chat_detail cd2 where cd2.chat_no = cr.chat_no order by cd2.chat_date desc limit 1) as chat_content
		FROM chat_member cm JOIN chat_room cr ON cm.chat_no = cr.chat_no WHERE cm.emp_no = #{param1};
	</select>
	
	<insert id="addMsg" parameterType="String">
		INSERT INTO chat_detail(chat_no, emp_no, chat_content, msg_type)
			VALUES(#{roomId},#{emp_no}, #{sendMessage}, #{msg_type})
	</insert>
	
	<select id="contentsCall" resultType="chatRoom">
		SELECT
			c.chat_content
			,c.chat_date
			,e.name
			,c.emp_no
			,c.msg_type
			,(SELECT p.pho_name from photo p WHERE p.ref_idx = c.emp_no) as profile_img
		FROM chat_detail c JOIN emp e ON c.emp_no = e.emp_no WHERE chat_no = #{param1} ORDER BY content_no
	</select>
	
	<insert id="addMember">
		INSERT INTO chat_member(chat_no, emp_no, room_name, enter_date)	
			VALUES (#{param1}, #{param2}, #{param3}, now())
	</insert>
	
	<select id="chatMemberList" resultType="emp">
		SELECT 
			e.emp_no,
			cm.room_name,
			cm.enter_date,
			cm.chat_no,
			e.name,
			cc.code_name AS rank_name,
			(SELECT cc2.code_name FROM common_code cc2 WHERE cc2.code_no = e.dept_code) AS dept_name
		FROM chat_member cm 
		JOIN emp e 
		JOIN common_code cc 
		ON e.rank_code = cc.code_no
		ON cm.emp_no = e.emp_no
		WHERE cm.chat_no = #{param1} ORDER BY e.rank_code ASC
	</select>
	
	<update id="roomNameChange" parameterType="map">
		UPDATE chat_member SET room_name = #{room_name} WHERE chat_no = #{chat_no} AND emp_no = #{emp_no}
	</update>
	
	<delete id="outRoom">
		DELETE FROM chat_member WHERE chat_no = #{chat_no} AND emp_no = #{emp_no}
	</delete>
	
	<update id="updateEnterDate">
		UPDATE chat_member SET enter_date = now() WHERE chat_no = #{param1} AND emp_no = #{emp_no}
	</update>
	
</mapper>