<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.NoticeDAO">
	
	
	<insert id = "sendShare">
		insert into notice(emp_no, noti_content,noti_link)
			values(#{param1},#{param2},#{param3})
	</insert>
	
	<select id = "getNotice" parameterType="notice">
		SELECT * FROM notice WHERE emp_no = #{emp_no}
	</select>
	
	<delete id = "deleteId">
		delete from notice WHERE noti_idx = #{param1}
	</delete>
	
	
	
</mapper>