<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.ProfileDAO">
	
	<select id = "leaveDetail" resultType = "profile">
		SELECT 
		    lh.emp_no,
		    lh.annual AS total_leave,
		    COALESCE(SUM(lm.leave_use), 0) AS use_leave,
		    lh.annual - COALESCE(SUM(lm.leave_use), 0) AS balance_leave
		FROM 
		    leave_history lh
		LEFT JOIN 
		    leave_management lm ON lh.emp_no = lm.emp_no
		GROUP BY 
		    lh.emp_no, lh.annual order by '총휴가일' limit 1
	</select>
	
	<update id = "changePassword">
		UPDATE emp
			SET password = #{param1}
				WHERE emp_no = #{param2}	
	</update>
	
	
	
</mapper>