<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.ProfileDAO">
	
	<select id = "leaveDetail" resultType = "profile">
		SELECT 
		    SUM(CASE WHEN leave_division = '+' THEN annual ELSE 0 END) AS total_leave,
		    SUM(CASE WHEN leave_division = '-' THEN annual ELSE 0 END) AS use_leave,
		    SUM(CASE WHEN leave_division = '+' THEN annual ELSE 0 END)- SUM(CASE WHEN leave_division = '-' THEN annual ELSE 0 END) as balance_leave
		FROM leave_history WHERE emp_no = #{param1}
	</select>
	
	<update id = "changePassword">
		UPDATE emp
			SET password = #{param1}
				WHERE emp_no = #{param2}	
	</update>
	
	
	
</mapper>