<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.RoomDAO">
	<select id="liveRoomManageAjax" resultType="com.connec.tel.dto.RoomDTO">
		SELECT room_no,room_status,s.res_no ,s.stay_check_in 
			FROM room r LEFT JOIN stay s using(room_no);
	</select>
	
</mapper>