<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.connec.tel.dao.RoomDAO">
	<select id="liveRoomManageAjax" resultType="com.connec.tel.dto.RoomDTO">
		SELECT room_no,room_status,s.res_no ,s.stay_check_in 
			FROM room r LEFT JOIN stay s using(room_no);
	</select>
	
	<select id="reservationList" resultType="com.connec.tel.dto.RoomDTO">
		SELECT r.res_no, r.cos_name, r.cos_phone, r.cos_email, r.in_date, r.out_date, r.res_date, r.res_price
		FROM reservation r
		LEFT JOIN stay s ON r.res_no = s.res_no
		WHERE CURRENT_DATE() BETWEEN r.in_date AND r.out_date-1  AND s.res_no IS NULL AND division = 'A';			
	</select>
	
	<select id="reservationSearchList" resultType="com.connec.tel.dto.RoomDTO" parameterType="map">
		SELECT r.res_no, r.cos_name, r.cos_phone, r.cos_email, r.in_date, r.out_date, r.res_date, r.res_price
		FROM reservation r
		LEFT JOIN stay s ON r.res_no = s.res_no
		WHERE CURRENT_DATE() BETWEEN r.in_date AND r.out_date-1 AND s.res_no IS NULL	AND cos_name = #{name} AND division = 'A'; ;	
	</select>
	
	<select id="selectRoomDiv" resultType="String">
		SELECT room_status FROM room WHERE room_no = #{room_no}
	</select>
	
	<insert id="checkIn" parameterType="map">
		INSERT INTO stay(res_no,room_no,stay_check_in,register,regist_date)
			VALUES(#{res_no},#{room_no},#{check_in},#{emp_no},#{regist_date})
	</insert>
	
	<update id="roomCheckIn" parameterType="String">
		UPDATE room SET room_status = 'I' WHERE room_no = #{room_no} 
	</update>
	
	<select id="checkInInfo" resultType="com.connec.tel.dto.RoomDTO">
		SELECT res_no,stay_check_in  FROM stay 
			WHERE room_no = #{room_no} ORDER BY stay_check_in DESC limit 1;
	</select>
	
	<update id="checkOut" parameterType="String">
		UPDATE stay 
		SET stay_check_out = CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'),
			   updater = #{emp_no},
			   update_date = CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul')
		WHERE room_no = #{room_no}
  		AND res_no = #{res_no}
	</update>
	
	<update id="roomCheckOut" parameterType="String">
		UPDATE room SET room_status = 'O' WHERE room_no = #{room_no} 
	</update>
	
	<select id="roomStateList" resultType="com.connec.tel.dto.RoomDTO">
		<if test="param1 == ''">
			SELECT room_no, type_code, room_status FROM room LIMIT #{param2}, #{param3}
		</if>
		
		<if test="param1 != null">
			SELECT room_no, type_code, room_status FROM room WHERE room_no LIKE #{param1} LIMIT #{param2}, #{param3}
		</if>
	</select>
	
	<select id="roomManageList" resultType="com.connec.tel.dto.RoomDTO">
		<if test="param1 == ''">
			SELECT*FROM room_management r LEFT JOIN emp e ON r.register = e.emp_no  ORDER BY r.status ASC, r.regist_date DESC  LIMIT #{param2}, #{param3}
		</if>
		
		<if test="param1 != null">
			SELECT* FROM room_management r LEFT JOIN emp e ON r.register = e.emp_no WHERE r.room_no LIKE #{param1} ORDER BY r.status ASC , r.regist_date DESC LIMIT #{param2}, #{param3}
		</if>
	</select>
	
	<update id="updateNotAvailable">
		UPDATE room SET room_status = 'N'  WHERE room_no = #{room_no}
	</update>
	
	<update id="updateAvailable">
		UPDATE room SET room_status = 'A'  WHERE room_no = #{room_no}
	</update>
	
	<select id="totalPage" resultType="int">

		<if test="param1 == ''">
			SELECT CEIL(COUNT(room_no)/#{param2}) AS pages FROM room
		</if>
	
		<if test="param1 != null">
			SELECT CEIL(COUNT(room_no)/#{param2}) AS pages FROM room WHERE room_no LIKE #{param1}
		</if>
	
	</select>
	
	<select id="roomManagetotalPage" resultType="int">

		<if test="param1 == ''">
			SELECT CEIL(COUNT(room_manage_no)/#{param2}) AS pages FROM room_management
		</if>
	
		<if test="param1 != null">
			SELECT CEIL(COUNT(room_manage_no)/#{param2}) AS pages FROM room_management WHERE room_no LIKE #{param1}
		</if>
	
	</select>
	
	<select id="roomPirceList" resultType="com.connec.tel.dto.RoomDTO" parameterType="map">
		SELECT yearAndmonth, dd_division, standard, superior, delux, suite
			FROM default_room_price WHERE yearAndmonth = #{year_month}
	</select>
	
	<select id="row" resultType="int">
		SELECT COUNT(*) as cnt FROM default_room_price 
			WHERE  yearAndmonth = #{yearMonth} AND dd_division = #{division}
	</select>
	
	
	<update id="updateRoomPirceList" parameterType="Map">
		UPDATE default_room_price 
		SET ${column} = #{value},
					updater = #{emp_no},
					update_date = CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul')
		WHERE  yearAndmonth = #{year_month} AND dd_division = #{dd_division}	
										
	</update>
	
	<insert id="insertRoomPirceList" parameterType="Map">
		INSERT INTO default_room_price(yearAndmonth,dd_division,
										${column},register,regist_date)
				VALUES(#{year_month},#{dd_division},#{value},#{emp_no},CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul'))						
	</insert>
	
	<select id="roomPriceRow" resultType="int">
		SELECT COUNT(*) as cnt FROM room_price WHERE date = #{ddate}
	</select>
	
	<update id="updateRoomPrice" parameterType="map">
		UPDATE room_price 
		SET ${column} = #{value},
				updater = #{emp_no},
				update_date = CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul')
		 WHERE date = #{ddate}
	</update>
	
	<insert id="sundayPrice" parameterType="map">
		INSERT INTO room_price(date,${column},register,regist_date)
				VALUES (#{ddate},#{value},#{emp_no},CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul'))
	</insert>
	
	<insert id="weekendPrice" parameterType="map">
		INSERT INTO room_price(date,${column},register,regist_date)
				VALUES (#{ddate},#{value},#{emp_no},CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul'))
	</insert>
	
	<insert id="weekdayPrice" parameterType="map">
		INSERT INTO room_price(date,${column},register,regist_date)
				VALUES (#{ddate},#{value},#{emp_no},CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul'))
	</insert>
	
	<update id="updateSundayPrice" parameterType="map">
		UPDATE room_price 
		SET ${column} = #{value},
				updater = #{emp_no},
				update_date = CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul')
		 WHERE date = #{ddate}
	</update>
	
	<update id="updateWeekendPrice" parameterType="map">
		UPDATE room_price 
		SET ${column} = #{value},
				updater = #{emp_no},
				update_date = CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul')
		 WHERE date = #{ddate}
	</update>
	
	<update id="updateWeekdayPrice" parameterType="map">
		UPDATE room_price 
		SET ${column} = #{value},
				updater = #{emp_no},
				update_date = CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul')
		 WHERE date = #{ddate}
	</update>
	
	<select id="roomPriceCalendarList" resultType="com.connec.tel.dto.RoomDTO">
			SELECT date,standard,superior,delux,suite
			FROM room_price
			WHERE DATE_FORMAT(date, '%Y-%m') = #{year_month}
	</select>
	
	<update id="updateStay" parameterType="map">
		UPDATE stay 
		SET room_no = #{changeRoom_no},
				updater = #{emp_no},
				update_date = CONVERT_TZ(CURRENT_DATE(), 'UTC', 'Asia/Seoul')
		WHERE res_no = #{res_no}
		
	</update>
	
	<insert id="test">
		INSERT INTO reservation(res_no,cos_name,cos_phone,cos_email,in_date,out_date,res_date,res_price,type_code)
	values(#{i},'킹정훈','010-1234-1234','aaa@naver.com','2024-06-26','2024-06-27','2024-06-02',900000,1002);
	</insert>
	
	<update id="updateDayRoomPrice" parameterType="map">
		UPDATE room_price 
		SET standard = #{standard},
		superior =#{superior},
		delux=#{delux},
		suite =#{suite}
		WHERE date = #{date}
	</update>
	
	<select id="roomList" resultType="string">
		SELECT room_no FROM room
	</select>
	
	
	
	<insert id="roomManageWrite" useGeneratedKeys="true" keyColumn="room_manage_no" keyProperty="room_manage_no" parameterType="com.connec.tel.dto.RoomDTO">
    INSERT INTO room_management(room_no, room_type, content, register, regist_date)
    VALUES (#{room_no}, #{room_type}, #{content}, #{register}, NOW())
</insert>

<insert id="photoUpload">
	INSERT INTO photo(ori_pho_name,pho_name,ref_idx,pho_division)
		VALUES(#{param2},#{param1},#{param3},'R')
</insert>

<select id="room_mng_detail" resultType="com.connec.tel.dto.RoomDTO">
	SELECT room_manage_no,room_no,room_type,content,status,register,regist_date
	FROM room_management WHERE room_manage_no = #{room_manage_no}
</select>

<select id="findName" resultType="String">
	SELECT name FROM emp WHERE emp_no = #{emp_no}
</select>

<select id="photoName" resultType="String">
	SELECT pho_name FROM photo WHERE ref_idx = #{room_manage_no}
</select>

<delete id="phoDelete">
	DELETE FROM photo WHERE pho_name = #{pho_name}
</delete>

<update id="roomManageUpdateDo" parameterType="MAP">
	UPDATE room_management SET content = #{content} WHERE room_manage_no = #{room_manage_no}
</update>

<select id="findAuthority" resultType="String">
	SELECT authority FROM emp WHERE emp_no = #{emp_no}
</select>

<update id="room_manage_status_update">
	UPDATE room_management 
		SET status = 'Y',
		updater = #{emp_no},
		update_date = NOW()
	WHERE room_manage_no= #{room_manage_no}
</update>

<select id="getCheckoutRooms" resultType="String">
	SELECT room_no FROM room WHERE room_status = 'O'
</select>

<select id="roomInfoList" resultType="com.connec.tel.dto.RoomDTO">
	SELECT * FROM room_information WHERE type_code = #{type_code}
</select>
		
<select id="select_pho_name" resultType="String">
	SELECT pho_name FROM photo WHERE ref_idx = #{type_code}
</select>

<update id="roomInfoUpdate" parameterType="map">
	UPDATE room_information
	 SET room_detail = #{room_detail},
	 	room_extent= #{room_extent},
	 	room_bed=#{room_bed},
	 	room_capacity=#{room_capacity},
	 	room_amenities=#{room_amenities}
	 WHERE type_code = #{room_type_code}
</update>		

<update id="room_img_photoUpdate">
	UPDATE photo
		SET ori_pho_name =#{oriName},
			pho_name = #{newFileName}
		WHERE ref_idx = #{type_code}
</update>

</mapper>